footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 683px;
    width: 100%;
    background: #0a0e34;
    color: #f6f4fa;
}

footer .background_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../static/pic/back_footer.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

footer .container_60 {
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    z-index: 999;
}

footer .middle {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    width: 75%;
    flex-direction: row;
    justify-content: center;
    padding: 125px 0 105px;
    margin: 0 auto;
}

footer .middle .big_button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background: url(../static/pic/download_button.png) no-repeat;
    background-size: contain;
    height: 100px;
    width: 16%;
    z-index: 999;
    padding-right: 10px;
}

footer .middle .slogan {
    width: 79.5%;
    line-height: 2.5em;
    height: 80px;
    padding-top: 20px;
}

footer .middle .slogan h1 {
    font-size: 3.9em;
    letter-spacing: 3px;
}

footer .middle .slogan h2 {
    font-size: 1.4em;
    letter-spacing: 2.6px;
    line-height: 2.3em;
}

footer .button_block .buttons {
    width: 52%;
}

footer .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    width: 95%;
    height: 30px;
    margin: 0 auto;
}

footer .bottom ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

footer .bottom ul .logo {
    display: inline-flex;
    flex-direction: row;
    width: 135px;
    height: 100%;
    background: url("../static/pic/top_logo.png") no-repeat;
    background-size: contain;
    margin-left: 2px;
}

footer .bottom .bottom_item:nth-child(2) {
    width: 13%;
    height: 100%;
}

footer .bottom .bottom_item ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70%;
}



footer .bottom .contacts {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


footer .bottom .contacts li {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;

}

footer .bottom .contacts li:first-child {
    background: url("../static/pic/facebook.png") 50% no-repeat;
    background-size: contain;
}

footer .bottom .contacts li:nth-child(2) {
    background: url("../static/pic/twitter.png") 50% no-repeat;
    background-size: contain;
}

footer .bottom .contacts li:last-child {
    background: url("../static/pic/instagram.png") 50% no-repeat;
    background-size: contain;
}


