header {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #0a0e34;
    width: 100%;
    height: 683px;
    color: white;
}


header .background_head {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../static/pic/football_top.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

header .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding: 37px 0;
    width: 100%;
}

header .top .logo {
    display: inline-flex;
    flex-direction: row;
    width: 135px;
    height: 100%;
    background: url("../static/pic/top_logo.png") no-repeat;
    background-size: contain;
    margin-left: 2px;
}


header .top .label {
    display: inline-flex;
    flex-direction: row;
    height: 100%;
    font-size: 0.6em;
    letter-spacing: 1px;
    padding-top: 7px;
}


header .slogan {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 4em;
    letter-spacing: 3px;
    margin-top: 152px;
    line-height: 1em;
    background: url("../static/pic/rec_top.png") 31.5% no-repeat;
    background-size: contain;
}

header .slogan .slogan_left {
    float: left;
    text-align: left;
    padding-right: 5px;
    z-index: 20;
}

header .slogan .slogan_right {
    float: right;
    text-align: right;
    padding-right: 3px;
    z-index: 100;
}


header .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* text-align: right; */
    float: right;
    width: 37.5%;
    height: 25px;
    padding: 9px 0;
    letter-spacing: 0.5px;
    font-size: 0.6em;
    color: #5e42b0;
    margin-right: 5px;
}


header .menu .menu_item {
    width: 17%;
}


header .menu .menu_item:not(:first-child),
header .menu .menu_item:not(:last-child) {
    text-align: center;
}


header .menu .menu_item a {
    color: #5e42b0;
}


header .button_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 145px;

}






