html, body {
    font: normal 100% "ProximaNova-light",  "ProximaNova-semibold", "ProximaNova-bold", Calibri, Candara, sans-serif;
    width: 100%;
    height: auto;
}


#page {
    width: 100%;
    height: auto;
}

@font-face {
    font-family: "ProximaNova-light";
    src: url("../static/font/Proxima_Nova_Light.otf");
}

@font-face {
    font-family: "ProximaNova-semibold";
    src: url("../static/font/Proxima_Nova_Semibold.otf");
}

@font-face {
    font-family: "ProximaNova-bold";
    src: url("../static/font/Proxima_Nova_Bold.otf");
}

a {
    text-decoration: none;
    color: white;
    font-family: inherit;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-family: ProximaNova-bold;
    font-weight: bold;
}

li {
    list-style: none;
}

.container {
    width: 63.88760%;
    background: transparent;
    margin: 0 auto;
}



@media screen and (max-width: 768px) {
    .container_80 {
        width: 95%;
        margin: 0 auto;
    }
}

.container_75 {
    width: 75%;
    margin: 0 auto;
}

.container_70 {
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container_70 {
        width: 80%;
        margin: 0 auto;
    }
}

.container_60 {
     width: 67%;
    margin: 0 auto;
 }

.container_50 {
    width: 46.5%;
}

@media screen and (max-width: 768px) {
    .container_50 {
        width: 65%;
        margin: 0 auto;
    }
}

.container_50_const {
    width: 50%;
    margin: 0 auto;
}


 .button_block .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 44%;
    margin: 0 auto;
}

 @media screen and (max-width: 768px) {
     .button_block .buttons {
         width: 90%;
         margin: 0 auto;
     }
 }

 .button_block .buttons .button {
    display: flex;
    flex-direction: row;
    width: 46%;
    text-align: left;
    font-size: 0.7em;
    height: 56px;
    background: #5e42b0;
    border-radius: 50px;
    z-index: 999;
}

 @media screen and (max-width: 768px) {
     .button_block .buttons .button {
         display: flex;
         flex-direction: row;
         width: 47%;
         text-align: left;
         font-size: 0.9em;
         line-height: 1.2em;
         height: 78px;
         background: #5e42b0;
         border-radius: 50px;
         z-index: 999;
     }
 }

 .button_block .buttons .image_block {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    height: 30px;
    margin: 15px auto;
}

 .button_block .buttons .apple .image_block {
    background: url(../static/pic/Icon_Apple.png) no-repeat;
    background-size: contain;
    margin-left: 30px;
}

 .button_block .buttons .google .image_block {
    background: url("../static/pic/Icon_Google_Play.png") no-repeat;
    background-size: contain;
    margin-left: 40px;
}

 @media screen and (max-width: 768px) {
     .button_block .buttons .image_block {
         flex-direction: column;
         justify-content: center;
         width: 12%;
         height: 35px;
         margin: 20px 25px auto;
     }

     .button_block .buttons .apple .image_block {
         margin-left: 45px;
     }

     .button_block .buttons .google .image_block {
         margin-left: 60px;
     }
 }


 .button_block .buttons .button .text_block {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    float: left;
    margin: 0 auto;
    margin-left: 0;
    line-height: 1em;
}

@media screen and (max-width: 768px) {
    .button_block .buttons .button .text_block {
        line-height: 1.5em;
    }
}
